
body {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(179, 179, 179);
}
.container{
    background-color: white;
    height: 100vh;
}
html{
    line-height:1.15;
    -webkit-text-size-adjust:100%
}
body{
    margin:0
}

#imageplus{
    display: block;
    height: 90%;
    width: 100%;
}

.stepper-titles,.stepper-selector{
    font-weight: 900;
}
#collapseStepper1-id, #collapseStepper2-id, #collapseStepper3-id{
    height: 10px;
    width: 50%;
}

